<div class="container">
    <div class="row">
        <div class="col-md-4 login-container">
            <div class="logo-ewok">
                <img src="../../assets/img/e-wok.svg" height="118px" width="184px" alt="logo-ewok">
            </div>
            <p>Login</p>
                <div class="col">
                    <input class="campos" type="email" placeholder="Correo electrónico" 
                    pattern=".+@.+" size="30" required>
                    <input class="campos" type="password" placeholder="Contraseña" required>
                    <input class="boton-azul" type="button" value="INGRESAR" routerLink='/menu/inicio'>
                </div>
        </div>
    </div>
</div>