.contenido-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 40px;
}

.img-central{
    text-align: center;
    width: 75%;
    height: 75%;
}

.img-central p{
    font-size: 30px;
}