<div class="container-flex">
    <div class="row">
        <div class="col-md contenido-centro">
            <h4>Mis libros</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 contenido-centro" *ngFor="let pedido of pedidosL">
            <div class="contenedor-libro sombra" >
                <div class="libro">
                    <img [src]='"assets/img/libros/"+pedido.libroId+".jpg"' hight="100%" width="100%" alt="libro">
                </div>
                <div class="texto">
                    <div class="mb-3">
                        <p> </p>
                        <p class="subtitulos"><span> </span></p>
                    </div>
                    <p class="subtitulos">Fecha de solicitud: {{pedido.fechaSolicitud}}</p>
                    <p class="subtitulos">Fecha de devolución: {{pedido.fechaDevolucion}}</p>
                    <p class="subtitulos">Cantidad de solicitudes: 1</p>
                </div>
            </div>
        </div>        
    </div>
</div>