<div class="container-flex">
    <div class="row">
        <div class="col-md contenido-centro">
            <h4>Mis libros</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 contenido-centro">
            <div class="contenedor-libro sombra">
                <div class="libro">
                    <img src="../../assets/img/libros/el-principito.jpg" alt="libro">
                </div>
                <div class="texto">
                    <div class="mb-3">
                        <p>El Principito</p>
                        <p class="subtitulos"><span>Antonie de Saint-Exúpery</span></p>
                    </div>
                    <p class="subtitulos">Fecha de solicitud: 15-11-2020</p>
                    <p class="subtitulos">Fecha de devolución: 15-12-2020</p>
                    <p class="subtitulos">Cantidad de solicitudes: 1</p>
                </div>
            </div>
        </div>
        
        <!--Segundo libro, ¿por qué no puedo añadir mas? -->
        <div class="col-md-3 contenido-centro">
            <div class="contenedor-libro sombra">
                <div class="libro">
                    <img src="../../assets/img/libros/el-principito.jpg" alt="libro">
                </div>
                <div class="texto">
                    <div class="mb-3">
                        <p>El Principito</p>
                        <p class="subtitulos"><span>Antonie de Saint-Exúpery</span></p>
                    </div>
                    <p class="subtitulos">Fecha de solicitud: 15-11-2020</p>
                    <p class="subtitulos">Fecha de devolución: 15-12-2020</p>
                    <p class="subtitulos">Cantidad de solicitudes: 1</p>
                </div>
            </div>
        </div> 
        
    </div>
</div>