<div class="container-flex">
    <div class="row">
        <div class="col-md contenido-centro">
            <h4>Penalizaciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 contenido-centro">
            <div class="contenedor-libro sombra">
                <div class="libro">
                    <img src="../../assets/img/libros/balto.jpg" alt="libro">
                </div>
                <div class="texto">
                    <div class="mb-1">
                        <p>Colmillo Blanco</p>
                        <p class="subtitulos"><span>Jack London</span></p>
                    </div>
                    <p class="subtitulos">Fecha de solicitud: 08-10-2020</p>
                    <p class="subtitulos">Devolución pactada: 08-11-2020</p>
                    <p class="subtitulos">Fecha de devolución: 20-11-2020</p>
                    <p class="subtitulos">Estado: PENALIZADO</p>
                    <p class="subtitulos borde-resolucion">Resolución: <br>No podrás solicitar el mismo título dentro de 1 mes</p>
                </div>
            </div>
        </div> 

        <div class="col-md-3 contenido-centro">
            <div class="contenedor-libro sombra">
                <div class="libro">
                    <img src="../../assets/img/libros/balto.jpg" alt="libro">
                </div>
                <div class="texto">
                    <div class="mb-1">
                        <p>Colmillo Blanco</p>
                        <p class="subtitulos"><span>Jack London</span></p>
                    </div>
                    <p class="subtitulos">Fecha de solicitud: 08-10-2020</p>
                    <p class="subtitulos">Devolución pactada: 08-11-2020</p>
                    <p class="subtitulos">Fecha de devolución: 20-11-2020</p>
                    <p class="subtitulos">Estado: PENALIZADO</p>
                    <p class="subtitulos borde-resolucion">Resolución: <br>No podrás solicitar el mismo título dentro de 1 mes</p>
                </div>
            </div>
        </div> 
    </div>
</div>
