<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 detalle-libro">
            <h3 class="mt-3">{{libro.titulo}}</h3>
            <p>{{libro.autor}}</p>

            <div class="detalles mt-5">
                <p>Fecha: {{libro.fechaPublicacion}}</p>
                <p>Editorial: {{libro.editorial}}</p>
                <p>Existencias: {{libro.existencias}}</p>
            </div>

            <input class="boton-azul" type="button" value="SOLICITAR" (click) ="hacerPedido()" [routerLink]="['/menu/libro',libro.id]">

        </div>
        <div class="col-md-6 imagen-libro">
            <img [src]='"assets/img/libros/"+libro.id+".jpg"' alt="imagen-libro">
        </div>
    </div>
</div>