<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido {{usuario.nombre}} {{usuario.apellido}}</h1>
            <input class="buscar icono-buscar sombra" type="text" placeholder="Buscar libro ..">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Galería</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let libro of libroL"> <!--Aquí va el ngFor-->
            <div class="contenedor-libros sombra mt-3">
                <div class="libro">
                    <a [routerLink]="['/menu/detalle',libro.id]">
                        <img [src]='"assets/img/libros/"+libro.id+".jpg"' hight="100%" width="100%" alt="libro">
                    </a>
                </div>
                <p class="mt-2">{{libro.titulo}}</p>
                <p class="subtitulo">{{libro.autor}}</p>
            </div>
        </div>
    </div> 
</div>
