<div class="container-flex">
    <div class="row">
        <div class="col-md-3 menu-lateral">
            <div class="row">
                <div class="col-md perfil-usuario">
                    <img src="../../assets/img/foto-perfil-xl.png" alt="">
                        <div class="datos-usuario">
                            <p class="nombre-usuario">José Alvarado</p>
                            <p class="miembro-desde">Miembro desde 2018</p>
                        </div>
                </div>
            </div>
            <ul>
                <li class="icono-flecha-menu mt-3"><a routerLink="/menu/perfil/mis-libros">Mis libros</a></li>
                <li class="icono-flecha-menu mt-3"><a routerLink="/menu/perfil/penalizaciones">Penalizaciones</a></li>
                <li class="icono-flecha-menu mt-3"><a routerLink="/menu/perfil/editar">Editar perfil</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>