<div class="container-flex">
    <div class="row sombra">
        <div class="col-md barra-navegacion">
            <img src="../../assets/img/e-wok.svg" alt="logo">
            <ul class="mt-4">
                <li>
                    <a routerLink="/menu/inicio">Inicio</a>
                </li>
                <li>
                    <a routerLink="/menu/perfil">Perfil</a>
                </li>
                <li>
                    <a class="icono-cerrar-sesion" (click) = 'logOut()'>Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>